:root {
    --border-color-light: rgb(0, 0, 130);
    --border-color-dark: rgb(101, 164, 235);
}

body {
    font-family: sans-serif, "Pacifico";
}

div {
    display: block;
}

li {
    list-style-type: none;
    display: inline-block;
    gap: 1rem;
}

.container {
    margin: 5rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.75rem;
    border-color: var(--border-color-light);
    border-style: groove;
}

.location-wrapper {
    text-align: left;
}



